<widget  xmlns     = "http://www.w3.org/ns/widgets"

        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.citifren.CitiFren"
        version   = "1.0.0">

 
        <name>CitiFren</name>
        <description>
		Have Fun with CitiFren	
        </description>
        <author email="romsun.pramudito@hotmail.com" href="http://citifren.com">
            CitiFren Team
        </author>
        <content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="WebViewBounce" value="true" />
    

</widget>