<?xml version='1.0' encoding='utf-8'?>
<widget id="com.citifren.ctfren" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CitiFren</name>
    <description>
        Have Fun With CitiFren !
    </description>
    <author email="romsun.pramudito@hotmail.com" href="http://cordova.io">
        CitiFren Team
    </author>
    <content src="index.html" />
    <access origin="*" />

<feature name="Device">
        <param name="android-package"  value="org.apache.cordova.device.Contacts" />
</feature>

<feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>

<feature name="LocalNotification">
<gap:plugin name="de.appplant.cordova.plugin.local-notification" />
</feature>


</widget>
